@{
    ViewBag.Title = "delete";
}

<h2>delete</h2>
<h1>Are you sure you want to delete?</h1>
<form action="" method="post">
    <input type="submit" value="delete" />
    <a href="/Home/List"><input type="button" value="Back" /></a>
</form>
