@{
    ViewBag.Title = "List";
}

<h2>Product List</h2>
<button><a href="/Home/Create/">Add Product</a></button>
<br />
<table class="table table-bordered">
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Product Quantity</td>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td><a href="/Home/Details/@item.Id">Details</a></td>
            <td><a href="/Home/Update/@item.Id">Update</a></td>
            <td><a href="/Home/Delete/@item.Id">Delete</a></td>
        </tr>
    }
</table>

